.head {
	text-align: left;
	border-bottom: 3px solid #1de9b6;
	height: 50px;
	width: auto;
	margin-bottom: 10px;
	padding:10px;
	color: #1de9b6;
	font-size: 20px ;

}

body {

	background: white;
}

p {
	font-size: 18px;
	text-transform: uppercase;
	padding-bottom: 5px;
	color: #00bfa5;
}

table,th {

	text-align: left;
}


.textBox {
	text-align: left;
	font-size: 14px;
	border: 1px solid;
	color: #888;
	border-radius: 25px;
}

.search {

	text-align: left;
	display:inline;
	float:right;
	font-size: 14px;
	border: 1px solid;
	color: white;
	border-radius: 25px;
	background: #00bfa5;
}

.addBtn {
	background: #00bfa5;
	color: white;
	border-radius: 25px;
	font-size: 14px;
	border: 1px solid;
}

.resetBtns {
	font-size: 14px;
	border: 1px solid;
	color: white;
	border-radius: 25px;
	background: #00bfa5;

}

.rightCol {
	text-align: center;

}