
body {
	background: gray;
}

.container {
	margin: 200px auto;
	width: 100%;
	max-width: 600px;
	min-width: 250px;
	height: 200px;
	border: 1px solid black;
}

.blackDiv {
	float: left;
	width: 50%;
	height: 200px;
	background: black;
	margin: auto;
}

.whiteDiv {
	float: right;
	width: 50%;
	height: 200px;
	background: white;
	margin: auto;

}
@media (max-width: 400px) {
	.blackDiv {
		width: 100%;
		height: 200px;
	}

	.whiteDiv {
		width: 100%;
		height: 200px;
	}
}

@media (max-width: 320px) {
	.container {
		margin: auto 200px;
		width: 100%;
		height: 600px;
	}

	.blackDiv {
		width: 100%;
		height: 300px;
	}

	.whiteDiv {
		width: 100%;
		height: 300px;
	}
}
