body {
	background:#539FA2;
}

.containerDiv {
	display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 300px;
    height: 170px;
    margin: auto;
	background: white;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tempDiv {
	display: block;
	float: left;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 120px;
    width: 180px;
    height: 170px;
    margin: auto;
	background-color: #2c3e50;
	border-radius: 5px 0 0 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.iconDiv {
	display: block;
	float: right;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 180px;
    right: 0;
    width: 120px;
    height: 170px;
    margin: auto;
	background-color: yellow;
	border-radius: 5px 0 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

.numberDiv {
	text-align: center;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	color: #f1c40f;
	font-size: 5em;
	padding: 15px 20px 15px 15px;
    position: fixed;
    margin: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cityDiv {
	text-align: center;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	text-transform: uppercase;
	color: white;
	font-size: 1em;
	padding: 130px 10px 10px 20px;
	font-weight: bold;
	position: fixed;
    margin: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.skyIcon {
	text-align: right;
	font-size: 5em;
	padding: 11px 12px 20px 12px;
	margin: auto;
	position: fixed;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tempTable {
	display:block;
	float: right;
	position: fixed;
	width: 120px;
	padding: 10px 10px 5px 10px;
	background: #3498db;
	top: 100px;
    bottom: 0;
    left: 180px;
    right: 0;
    margin: auto;
    width: 120px;
    height: 70px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

th {
	text-align: center;
	font-size: 11px;
	color: #2980b9;
	padding: 4px;
}

td {
	text-align: center;
	color: white;
	font-size: 13px;
	padding: 4px;	
}


.source {
	position: fixed;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	text-align: center;
	color: #c0c0c0;
	font-size: 0.8em;
	margin: 450px 540px;
}

.source a {
	text-decoration: none;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	color: #c0c0c0;
	font-size: 0.8em;
	font-family: Arial;
}
