
body {
	background:#539FA2;
}

.containerDiv {
    width: 300px;
    height: 170px;
    margin: 200px auto;
	background: white;
	border-radius: 5px;
}

.tempDiv {
	float: left;
    width: 180px;
    height: 170px;
    margin: auto;
	background-color: #2c3e50;
	border-radius: 5px 0 0 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.iconDiv {
	float: right;
    width: 120px;
    height: 170px;
    margin: auto;
	background-color: white;
	border-radius: 5px 5px 5px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

.numberDiv {
	text-align: center;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	color: #f1c40f;
	font-size: 5em;
	padding: 15px 20px 15px 15px;
    margin: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cityDiv {
	text-align: center;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	text-transform: uppercase;
	color: white;
	font-size: 1em;
	padding: 20px 10px 10px 20px;
	font-weight: bold;
    margin: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.skyIcon {
	text-align: right;
	font-size: 5em;
	padding: 11px 12px 8px 12px;
	margin: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tempTable {
	float: right;
	width: 120px;
	padding: 10px 10px 5px 10px;
	background: #3498db;
    margin: auto;
    width: 120px;
    height: 70px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.days {
	text-align: center;
	font-size: 11px;
	color: #2980b9;
	padding: 4px;
}

.degree {
	text-align: center;
	color: white;
	font-size: 13px;
	padding: 4px;	
}


.source {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	text-align: center;
	color: #c0c0c0;
	font-size: 0.8em;
	padding: 10px;
}

.source a {
	text-decoration: none;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	color: #c0c0c0;
	font-size: 0.8em;
}
