
/******************************************************
GENERAL SELECTORS
******************************************************/

body {
	background: #dcdcdc;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

/******************************************************
CLASS SELECTORS : Left Side;
******************************************************/

.head {
	width: 100%;
	height: 120px;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.title {
	color: black;
	font-size: 2em;
	line-height: 1.5;
	margin: 15px;
	font-weight: lighter;
	font-family: 'Raleway', sans-serif;
}

.title-border {
	margin: 15px;
	border-bottom: 1px solid #c0c0c0;
}

.content {
	color: #808080;
	line-height: 1.5;
	margin: 15px;
	font-family: 'Raleway', sans-serif;
	font-size: 0.9em;
	font-weight: lighter;
}

.content-border {
	width: 15%;
	margin: 15px;
	border-bottom: 1px solid #c0c0c0;
}

.nav {
	margin: 15px;
	line-height: 1.5;
	text-transform: uppercase;
	font-weight: lighter;
	font-family: 'Raleway', sans-serif;
	font-size: 0.9em;
}

.nav a {
	color: #808080;
}

.nav-border {
	width: 10%;
	margin: 15px;
	border-bottom: 1px solid #c0c0c0;
}

.social-links a {
	margin: 15px 5px 15px 15px;
	color: #696969;
}

.copyright {
	text-transform: uppercase;
	margin: 15px;
}

.copyright a {
	margin: 15px;
	color: #c0c0c0;
	font-weight: lighter;
	font-size: 0.8em;
	font-family: 'Raleway', sans-serif;
	line-height: 1.5;
}

.copyright a:hover {
	color: #808080;
}

/******************************************************
CLASS SELECTORS : Right Side;
******************************************************/

.picture {
	width: 100%;
	height: 470px;
}

.picture > img {
	border-radius: 8px 8px 0 0;
}

.profile-pic {
	width: 20%;
	height: 10%;
	margin: 30px 15px 15px 15px;
	position: absolute;
	z-index: 2;
}

.profile-pic img {
	width: 15%;
	height: 50%;
	border-radius: 50%;
	border: 1px solid white;
	margin-left: 15px;
	float: left;
}
.profile-pic h2 {
	color: white;
	font-size: 0.9em;
	float: left;
	text-align: center;
	margin-top: 15px;
	margin-left: 5px;
	text-transform: uppercase;
	font-weight: lighter;

}
.background-img {
	width: 100%;
	height: 100%;
	position: relative;
	border-radius: 8px;
}
iframe {
	width: 100%;
	height: 100%;
	position: relative;
}
.blog {
	background: white;
	width: 100%;
	height: 400px;
}

.blog h1 a {
	color: black;
}
.blog h1 {
	font-size: 2em;
	font-weight: lighter;
	line-height: 1.5;
	padding: 15px 30px 15px 50px;
}

.blog p {
	padding: 10px 30px 10px 50px;
	line-height: 1.5;
	font-weight: lighter;
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
	color: #808080;
}
.div-btn {
	padding: 10px 30px 20px 50px;
}

.btn {
	background: none;
	text-transform: uppercase;
	border: 1px solid #c0c0c0;
	padding: 7px;
	font-weight: lighter;
	font-size: 0.7em;
	color: #c0c0c0;
	margin-right: 6px;
	border-radius: 5px;
	text-align: center;
	line-height: 1.5;
}

.blog-border {
	width: 90%;
	margin: 15px auto;
	border-bottom: 1px solid #c0c0c0;
}

.stat {
	padding: 10px 30px 20px 50px;

}

.stat a {
	color: #c0c0c0;
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: lighter;
	padding-right: 10px;
	line-height: 1.5;
}

.stat-left {
	float: left;
}

.stat-right {
	float: right;
}

.div-hover {
	width: 100%;
	height: 350px;
	margin-top: 15%;
	margin-bottom: 15%;
	position: relative;
}

.left-box {
	float: left;
	width: 40%;
	height: 100%;
	margin-right: 10%;
	position: absolute;
    top: 0;
    left: 0;
}

.left-box-hover {
	float: left;
	width: 40%;
	height: 100%;
	margin-right: 10%;
	background: rgba(0,0,0,0.4);
	position: absolute;
	border-radius: 8px;
    top: 0;
    left: 0;
	z-index: 10;
}

.stat-hover {
	width: 100%;
	margin-top: 96%;
}

.stat-hover a {
	color: #c0c0c0;
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: lighter;
	padding-right: 10px;
	padding-left: 10px;
	line-height: 1.5;
}
.right-box {
	float: right;
	width: 40%;
	height: 100%;
	margin-left: 5%;
	position: absolute;
    top: 0;
    right: 0;
}

.right-box-hover {
	float: right;
	width: 40%;
	height: 100%;
	margin-left: 5%;
	background: rgba(0,0,0,0.4);
	border-radius: 8px;
	position: absolute;
	top: 0;
    right: 0;
	z-index: 10;
}

.blog-pic {
	width: 30%;
	height: 10%;
	padding: 15px 30px 0 40px;
}

.blog-pic img {
	width: 15%;
	height: 60%;
	border-radius: 50%;
	border: 1px solid white;
	margin-left: 15px;
	float: left;
}
.blog-pic h2 {
	color: #c0c0c0;
	font-size: 0.9em;
	float: left;
	text-align: center;
	margin-top: 5px;
	margin-left: 5px;
	text-transform: uppercase;
	font-weight: lighter;
}


/******************************************************
MEDIA QUEIRES
******************************************************/

@media screen and (min-width: 579px) {
	
}



