
.order-border-image {
	display: block;
	background-image: url('../pic/line2.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	width: 20%;
	margin: auto;
	height: 30px;
}
.information {
	padding: 10px;
}
.information input {
	background: #c0c0c0;
	border: 1px solid #F4F4F4;
	border-radius: 5px;
	padding: 5px;
	color: #DCDBE8;
}
.information select {
	background: #c0c0c0;
	border: 1px solid #F4F4F4;
	border-radius: 5px;
	padding: 5px;
	color: #DCDBE8;
}
.information button {
	text-align: center;
	background: #F5C7D2;
	border: 1px solid #F4F4F4;
	border-radius: 5px;
	padding: 5px;
	color: gray;
}

.information form {
	line-height: 2.5;
	padding-top: 10px;
}